/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #151311 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c4c4c3; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c4c4c3; background-color: rgba(218,176,113,0.4)}
.cm-s-nqqwal { background-color: #151311; color: #c4c4c3; }
.cm-s-nqqwal span.cm-builtin { color: #D7724A; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #6f645a; }
.cm-s-nqqwal span.cm-keyword { color: #CD6B52; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #798672; }
.cm-s-nqqwal span.cm-def { color: #999273; }
.cm-s-nqqwal span.cm-variable { color: #DAB071; }
.cm-s-nqqwal span.cm-variable-2 { color: #999273; }
.cm-s-nqqwal span.cm-string { color: #D7724A; }
.cm-s-nqqwal span.cm-string-2 { color: #D7724A; }
.cm-s-nqqwal span.cm-number { color: #999273; }
.cm-s-nqqwal span.cm-tag { color: #CD6B52; }
.cm-s-nqqwal span.cm-property { color: #DAB071; }
.cm-s-nqqwal span.cm-attribute { color: #DAB071; }
.cm-s-nqqwal span.cm-qualifier { color: #798672; }
.cm-s-nqqwal span.cm-meta { color: #999273; }
.cm-s-nqqwal span.cm-header { color: #CD6B52; }
.cm-s-nqqwal span.cm-operator { color: #CD6B52; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(153,146,115,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #CD6B52; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #151311); }
