/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #10141b !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c4c6; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c4c6; background-color: rgba(186,190,197,0.4)}
.cm-s-nqqwal { background-color: #10141b; color: #c3c4c6; }
.cm-s-nqqwal span.cm-builtin { color: #797C83; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5c6570; }
.cm-s-nqqwal span.cm-keyword { color: #7E8187; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #8B8E92; }
.cm-s-nqqwal span.cm-def { color: #A5A8AE; }
.cm-s-nqqwal span.cm-variable { color: #BABEC5; }
.cm-s-nqqwal span.cm-variable-2 { color: #A5A8AE; }
.cm-s-nqqwal span.cm-string { color: #797C83; }
.cm-s-nqqwal span.cm-string-2 { color: #797C83; }
.cm-s-nqqwal span.cm-number { color: #A5A8AE; }
.cm-s-nqqwal span.cm-tag { color: #7E8187; }
.cm-s-nqqwal span.cm-property { color: #BABEC5; }
.cm-s-nqqwal span.cm-attribute { color: #BABEC5; }
.cm-s-nqqwal span.cm-qualifier { color: #8B8E92; }
.cm-s-nqqwal span.cm-meta { color: #A5A8AE; }
.cm-s-nqqwal span.cm-header { color: #7E8187; }
.cm-s-nqqwal span.cm-operator { color: #7E8187; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(165,168,174,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #7E8187; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #10141b); }
