* {
    background: rgba(0,0,1,0.5);
    foreground: #FFFFFF;
    color0:     #121313;
    color1:     #749E92;
    color2:     #86A994;
    color3:     #ADAF94;
    color4:     #C7B899;
    color5:     #AEC692;
    color6:     #DFD6AC;
    color7:     #c3c4c4;
    color8:     #5a6e6e;
    color9:     #749E92;
    color10:    #86A994;
    color11:    #ADAF94;
    color12:    #C7B899;
    color13:    #AEC692;
    color14:    #DFD6AC;
    color15:    #c3c4c4;
}
