/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #121313 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c4c4; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c4c4; background-color: rgba(223,214,172,0.4)}
.cm-s-nqqwal { background-color: #121313; color: #c3c4c4; }
.cm-s-nqqwal span.cm-builtin { color: #86A994; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5a6e6e; }
.cm-s-nqqwal span.cm-keyword { color: #ADAF94; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #C7B899; }
.cm-s-nqqwal span.cm-def { color: #AEC692; }
.cm-s-nqqwal span.cm-variable { color: #DFD6AC; }
.cm-s-nqqwal span.cm-variable-2 { color: #AEC692; }
.cm-s-nqqwal span.cm-string { color: #86A994; }
.cm-s-nqqwal span.cm-string-2 { color: #86A994; }
.cm-s-nqqwal span.cm-number { color: #AEC692; }
.cm-s-nqqwal span.cm-tag { color: #ADAF94; }
.cm-s-nqqwal span.cm-property { color: #DFD6AC; }
.cm-s-nqqwal span.cm-attribute { color: #DFD6AC; }
.cm-s-nqqwal span.cm-qualifier { color: #C7B899; }
.cm-s-nqqwal span.cm-meta { color: #AEC692; }
.cm-s-nqqwal span.cm-header { color: #ADAF94; }
.cm-s-nqqwal span.cm-operator { color: #ADAF94; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(174,198,146,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #ADAF94; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #121313); }
